.selected-social{
    font-weight: 600;
    position: relative;
  }
  .selected-social::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    bottom: -5px;
    left: 0;
    border-radius: 5px;
  }