.polygon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  height: 100%;
  background-image: linear-gradient(to right, black, rgb(78, 77, 77));
  clip-path: polygon(100% 0, 100% 65%, 0 100%, 0 0);
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .polygon {
    clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 0);
  }
}
