.spin {
  width: 35px;
  height: 35px;
  border: 8px solid rgb(243, 91, 2);
  border-bottom-color: white;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
