.bgImage {
  background-image: url(../../../../Assets/userHome/bannerBg1.png);
  animation: bgImage 25s infinite;
}
@keyframes bgImage {
  0% {
    background-image: url(../../../../Assets/userHome/bannerBg1.png);
  }
  30% {
    background-image: url(../../../../Assets/userHome/bannerBg1.png);
  }
  33% {
    background-image: url(../../../../Assets/userHome/bannerBg2.png);
  }
  65% {
    background-image: url(../../../../Assets/userHome/bannerBg2.png);
  }
  67% {
    background-image: url(../../../../Assets/userHome/bannerBg3.png);
  }
  98% {
    background-image: url(../../../../Assets/userHome/bannerBg3.png);
  }
  100% {
    background-image: url(../../../../Assets/userHome/bannerBg1.png);
  }
}
