.bgColor {
  background-image: radial-gradient(#ff9826, #e77b02);
  animation: bgColor 20s linear infinite;
}
@keyframes bgColor {
  0% {
    background-image: radial-gradient(#ff9826, #e77b02);
  }
  31% {
    background-image: radial-gradient(#ff9826, #e77b02);
  }
  33% {
    background-image: radial-gradient(#c41bff, #8c03bc);
  }
  65% {
    background-image: radial-gradient(#c41bff, #8c03bc);
  }
  67% {
    background-image: radial-gradient(#ff1b6d, #cd004a);
  }
  97% {
    background-image: radial-gradient(#ff1b6d, #cd004a);
  }
}

.bgImage {
  background-image: url(../../../Assets/bannerBg1.png);
  animation: bgImage 20s linear infinite;
}
@keyframes bgImage {
  0% {
    background-image: url(../../../Assets/bannerBg1.png);
  }
  31% {
    background-image: url(../../../Assets/bannerBg1.png);
  }
  33% {
    background-image: url(../../../Assets/bannerBg2.png);
  }
  65% {
    background-image: url(../../../Assets/bannerBg2.png);
  }
  67% {
    background-image: url(../../../Assets/bannerBg3.png);
  }
  97% {
    background-image: url(../../../Assets/bannerBg3.png);
  }
}
