.bgImage1,
.bgColor1 {
  animation: anim1 10s linear infinite;
}
.bgImage2,
.bgColor2 {
  animation: anim2 10s ease-in-out infinite;
}
.bgImage3,
.bgColor3 {
  animation: anim3 10s linear infinite;
}

@keyframes anim1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anim3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
