@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[name="Gender"] {
  accent-color: black;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.otpNumber > input {
  outline: none;
  background-color: transparent;
}

#career_file::file-selector-button {
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
}
.scrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Responsive Container Start */
.r-box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 639px) {
  .r-box {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 640px) {
  .r-box {
    width: 610px;
  }
}
@media only screen and (min-width: 768px) {
  .r-box {
    width: 720px;
  }
}
@media only screen and (min-width: 1024px) {
  .r-box {
    width: 970px;
  }
}
@media only screen and (min-width: 1280px) {
  .r-box {
    width: 1200px;
  }
}
@media only screen and (min-width: 1536px) {
  .r-box {
    width: 1360px;
  }
}
/* Responsive Container End */
.swiper-pagination-bullet {
  background-color: black !important;
}
.i1,
.i2 {
  width: 25px;
}
.i2 {
  display: none;
}
.navsideicons:hover .i2 {
  display: block;
}
.navsideicons:hover .i1 {
  display: none;
}
/* Loader bar */
.barwrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff81;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.barmain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.bar1,
.bar2,
.bar3,
.bar4,
.bar5 {
  width: 12px;
  height: 30px;
  background-color: black;
  border-radius: 2px;
}
.bar1 {
  animation: bar 1.2s linear infinite;
}
.bar2 {
  animation: bar 1.2s linear 0.2s infinite;
}
.bar3 {
  animation: bar 1.2s linear 0.4s infinite;
}
.bar4 {
  animation: bar 1.2s linear 0.6s infinite;
}
.bar5 {
  animation: bar 1.2s linear 0.8s infinite;
}
@keyframes bar {
  0%,
  40%,
  100% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(2.3);
  }
}
.bartext {
  font-size: small;
  font-weight: 600;
  margin-top: 30px;
}
