@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.otpNumber>input{
  outline: none;
}
/* Global Spinner Start */
.spinner{
  width: 35px;
  height: 35px;
  border: 8px solid rgb(243, 91, 2);
  border-bottom-color: white;
  border-radius: 50%;
  animation: spinner .8s  linear infinite;
}
@keyframes spinner {
  0%{
      transform: rotate(0deg);
      
  }
  100%{
      transform: rotate(360deg);
  }
}
/* Global Spinner End */